* get poverty with shape
* join mosaiks and poverty



When training a model, do the de-mean approach (or at least try both and compare).

In [1]:
import pickle
from pathlib import Path
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns

import child_poverty_iraq.data.load_data as ld
import child_poverty_iraq.utils.constants as c

In [2]:
mosaiks_adm1 = ld.get_mosaiks_adm1()
print(mosaiks_adm1.shape)
mosaiks_adm1.head(2)

(2849, 4001)

,ADM1_shape,X_0,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_3990,X_3991,X_3992,X_3993,X_3994,X_3995,X_3996,X_3997,X_3998,X_3999
0,AFG-ADM1-3_0_0-B1,0.221817,0.595860,0.027869,0.822692,0.362865,0.315121,0.036010,0.042699,0.777227,...,0.076052,0.027038,0.117758,0.079705,0.076191,0.589121,0.547973,0.176470,0.468623,0.013120
1,AFG-ADM1-3_0_0-B10,0.146467,0.415417,0.042324,0.320048,0.247005,0.393481,0.085266,0.104986,0.266778,...,0.176959,0.079718,0.313601,0.206565,0.142533,0.690189,1.129587,0.354073,0.446426,0.045413

In [3]:
geom_mos_adm1 = ld.get_geom_adm1()

File downloaded successfully as ../data/external/geoBoundariesCGAZ_ADM1.topojson

In [9]:
print(mosaiks_adm1.shape)
mosaiks_adm1.head(2)

(2849, 4004)

,ADM1_shape,X_0,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_3993,X_3994,X_3995,X_3996,X_3997,X_3998,X_3999,shapeGroup,shapeID,geometry
0,AFG-ADM1-3_0_0-B1,0.221817,0.595860,0.027869,0.822692,0.362865,0.315121,0.036010,0.042699,0.777227,...,0.079705,0.076191,0.589121,0.547973,0.176470,0.468623,0.013120,AFG,AFG-ADM1-3_0_0-B1,"POLYGON ((65.63424 33.67222, 65.62959 33.67345..."
1,AFG-ADM1-3_0_0-B10,0.146467,0.415417,0.042324,0.320048,0.247005,0.393481,0.085266,0.104986,0.266778,...,0.206565,0.142533,0.690189,1.129587,0.354073,0.446426,0.045413,AFG,AFG-ADM1-3_0_0-B10,"POLYGON ((70.01106 33.72774, 70.01443 33.72788..."

In [17]:
pov_adm1 = ld.get_poverty_adm1()
print(pov_adm1.shape)
pov_adm1.head(2)

(1110, 13)

,countrycode,survey,survey_round,year_chpov,deprived_sev,deprived_mod,sumpoor_sev,sumpoor_mod,nat_deprived_sev,nat_deprived_mod,geocode,popnational0017,pop0017
0,AFG,DHS,71.0,2015.0,94.106728,99.041710,1.767125,2.363397,82.904877,93.396584,AFG_ADM1_272,19895792.0,795903.94
1,AFG,DHS,71.0,2015.0,90.175560,96.397911,1.727377,2.420170,82.904877,93.396584,AFG_ADM1_273,19895792.0,440900.22

In [12]:
import geojson

cc = 'IRQ'
filepath = f"../data/{cc}.geojson"
# Read and parse GeoJSON file
with open(filepath, 'r') as f:
    geojson_data = geojson.load(f)

In [20]:
gdf = gpd.read_file(filepath)
print(gdf.shape)
gdf.head(2)

(18, 5)

,fid,REF_AREA,SUBREGION_NAME,SUBREGION,geometry
0,839,IRQ,Anbar,IRQ_ADM1_1564,"MULTIPOLYGON (((41.33907 35.14553, 41.51864 35..."
1,840,IRQ,Basrah,IRQ_ADM1_1565,"MULTIPOLYGON (((47.97187 30.01353, 47.95874 30..."

In [19]:
pd.merge(pov_adm1, gdf, how='right', left_on='geocode', right_on ='SUBREGION')

,countrycode,survey,survey_round,year_chpov,deprived_sev,deprived_mod,sumpoor_sev,sumpoor_mod,nat_deprived_sev,nat_deprived_mod,geocode,popnational0017,pop0017,fid,REF_AREA,SUBREGION_NAME,SUBREGION,geometry
0,IRQ,MICS,6.0,2018.0,32.944675,81.094124,0.366152,1.055160,28.697649,72.121094,IRQ_ADM1_1564,19076756.0,924787.50,839,IRQ,Anbar,IRQ_ADM1_1564,"MULTIPOLYGON (((41.33907 35.14553, 41.51864 35..."
1,IRQ,MICS,6.0,2018.0,27.264933,68.558472,0.309784,0.880061,28.697649,72.121094,IRQ_ADM1_1565,19076756.0,1490433.30,840,IRQ,Basrah,IRQ_ADM1_1565,"MULTIPOLYGON (((47.97187 30.01353, 47.95874 30..."
2,IRQ,MICS,6.0,2018.0,32.636909,86.324516,0.370366,1.159463,28.697649,72.121094,IRQ_ADM1_1566,19076756.0,456973.97,841,IRQ,Muthanna,IRQ_ADM1_1566,"MULTIPOLYGON (((45.58032 31.67775, 45.67742 31..."
3,IRQ,MICS,6.0,2018.0,25.434816,69.118111,0.286964,0.951617,28.697649,72.121094,IRQ_ADM1_1567,19076756.0,843271.06,842,IRQ,Qadissiya,IRQ_ADM1_1567,"MULTIPOLYGON (((45.26476 32.39880, 45.26733 32..."
4,IRQ,MICS,6.0,2018.0,37.521786,73.052872,0.470357,1.064714,28.697649,72.121094,IRQ_ADM1_1568,19076756.0,752094.88,843,IRQ,Najaf,IRQ_ADM1_1568,"MULTIPOLYGON (((44.33288 32.28730, 44.35019 32..."
5,IRQ,MICS,6.0,2018.0,24.332230,69.277359,0.262267,0.808230,28.697649,72.121094,IRQ_ADM1_1569,19076756.0,1091295.00,844,IRQ,Erbil,IRQ_ADM1_1569,"MULTIPOLYGON (((44.13466 37.31489, 44.15632 37..."
6,IRQ,MICS,6.0,2018.0,21.695940,51.395329,0.237382,0.638885,28.697649,72.121094,IRQ_ADM1_1570,19076756.0,679334.44,845,IRQ,Kirkuk,IRQ_ADM1_1570,"MULTIPOLYGON (((44.62596 35.90522, 44.62765 35..."
7,IRQ,MICS,6.0,2018.0,34.061211,77.043259,0.417105,1.077123,28.697649,72.121094,IRQ_ADM1_1571,19076756.0,1028196.80,846,IRQ,Babil,IRQ_ADM1_1571,"MULTIPOLYGON (((44.07592 33.09261, 44.11447 33..."
8,IRQ,MICS,6.0,2018.0,27.032141,64.341614,0.298218,0.826625,28.697649,72.121094,IRQ_ADM1_1572,19076756.0,3432646.30,847,IRQ,Baghdad,IRQ_ADM1_1572,"MULTIPOLYGON (((44.39132 33.73931, 44.43468 33..."
9,IRQ,MICS,6.0,2018.0,29.908176,77.236427,0.328377,0.979798,28.697649,72.121094,IRQ_ADM1_1573,19076756.0,1149859.80,848,IRQ,Thi-Qar,IRQ_ADM1_1573,"MULTIPOLYGON (((46.31747 32.00548, 46.36589 31..."
10,IRQ,MICS,6.0,2018.0,25.353554,74.541473,0.278112,0.887222,28.697649,72.121094,IRQ_ADM1_1574,19076756.0,1151959.30,849,IRQ,Dahuk,IRQ_ADM1_1574,"MULTIPOLYGON (((42.83443 37.34349, 42.85231 37..."
11,IRQ,MICS,6.0,2018.0,29.898977,76.161568,0.328374,0.983126,28.697649,72.121094,IRQ_ADM1_1575,19076756.0,687457.88,850,IRQ,Diyala,IRQ_ADM1_1575,"MULTIPOLYGON (((45.72523 35.09771, 45.75248 35..."
12,IRQ,MICS,6.0,2018.0,30.142340,76.004868,0.340598,1.001265,28.697649,72.121094,IRQ_ADM1_1576,19076756.0,641098.44,851,IRQ,Kerbala,IRQ_ADM1_1576,"MULTIPOLYGON (((44.19346 32.76913, 44.22232 32..."
13,IRQ,MICS,6.0,2018.0,32.772488,81.109573,0.401720,1.144550,28.697649,72.121094,IRQ_ADM1_1577,19076756.0,631498.69,852,IRQ,Missan,IRQ_ADM1_1577,"MULTIPOLYGON (((46.70349 32.78747, 46.72083 32..."
14,IRQ,MICS,6.0,2018.0,29.809587,76.872154,0.339111,1.063785,28.697649,72.121094,IRQ_ADM1_1578,19076756.0,1865292.60,853,IRQ,Ninewa,IRQ_ADM1_1578,"MULTIPOLYGON (((42.44824 36.96204, 42.46335 36..."
15,IRQ,MICS,6.0,2018.0,25.552618,67.685150,0.294467,0.894365,28.697649,72.121094,IRQ_ADM1_1579,19076756.0,738162.06,854,IRQ,Salah al-Din,IRQ_ADM1_1579,"MULTIPOLYGON (((43.35989 35.62487, 43.37039 35..."
16,IRQ,MICS,6.0,2018.0,22.255577,64.455330,0.244371,0.754437,28.697649,72.121094,IRQ_ADM1_1580,19076756.0,812529.81,855,IRQ,Sulaymaniyah,IRQ_ADM1_1580,"MULTIPOLYGON (((45.07250 36.45894, 45.08166 36..."
17,IRQ,MICS,6.0,2018.0,34.077614,81.998428,0.385859,1.075841,28.697649,72.121094,IRQ_ADM1_1581,19076756.0,699864.06,856,IRQ,Wassit,IRQ_ADM1_1581,"MULTIPOLYGON (((46.01450 33.48273, 46.02759 33..."